{{!
data class FieldScope(
val name: String,
val type: String,
val contentType: String?,
val struct: Boolean,
val array: Boolean,
val experimental: Boolean,
val transition: String?,
val since: String?,
val until: String?,
val label: String,
val description: String?,
val additionalDescription: String?
)

idea
- name (transition) (since) (until) (experimental)
- type: contentType (struct) (array)
- label (in medium font) description additionalDescription
}}
{{#fields.size}}
<table class="table table-hover field-table">
    <thead>
        <tr>
            <th scope="col" style="width: 13em;">field</th>
            <th scope="col" style="width: 13em;">type</th>
            <th scope="col">description</th>
        </tr>
    </thead>
    <tbody>
        {{#fields}}
        <tr>
            <th scope="row">{{name}}</th>
            <td>
                {{type}}{{#contentType}}: {{contentType}}{{/contentType}}
                {{#struct}} <span class="badge bg-info">struct</span>{{/struct}}
                {{#array}} <span class="badge bg-info">array</span>{{/array}}
            </td>
            <td>
                {{#label}}<span class="field-label">{{.}}</span>{{/label}} {{#description}}<span class="field-description">{{{.}}}</span>{{/description}} {{#additionalDescription}}<span class="field-description">{{{.}}}</span>{{/additionalDescription}} {{#descriptionMissing}}
                <span class="description-missing">No description available.
                    Write your own and contribute it to
                    <a href="https://github.com/parttimenerd/jfreventcollector/blob/main/additional.xml">jfreventcollector</a>.
                </span>
                {{/descriptionMissing}}
            </td>
        </tr>
        {{/fields}}
    </tbody>
</table>
{{/fields.size}}
